<!DOCTYPE html>
<html lang="en" ng-app="appMain">
<head>
	
	<meta name="viewport" content="width=device-width,initial-scale=1">
	
	<link rel="stylesheet" type="text/css" href="bower_components/gridism/gridism.css" />
	<link rel="stylesheet" type="text/css" href="bower_components/github-markdown-css/github-markdown.css" />

	<title>Simple Blog</title>


</head>
<body class="markdown-body">

	<div ng-controller="blogController" >
		
		<div class="grid">
			
			<div class="unit three-quarters">
	
				<h1>Blog</h1>
	
				<div id="bread-crumb-current"></div>
				<div id="cms-content-place-holder"></div>
				
			</div>
			<div class="unit one-quarter">

				<h1>Side Bar</h1>
				
				<ul>
					<li ng-repeat="contentEntry in blog.contentEntryList">
						<a href="#" class="link" ng-click="blog.loadSingleBlogEntry(contentEntry.key)">{{contentEntry.title}}</a> 
					</li>
				</ul>
				
			</div>
	
			
		</div>

	</div>

	<!-- i/o content api -->

	<script src="bower_components/io-content-js/dist/io-content.js"></script>

	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-route/angular-route.min.js"></script>
	<script src="bower_components/angular-touch/angular-touch.min.js"></script>

	<!-- i/o content api -->

	<!-- angular app -->

	<script>

		(function () {

			'use strict';
			angular.module('appMain', [

						// Angular core

						'ng',
						'ngRoute',
						'ngTouch'
			]
				)
				.config(['$httpProvider', function ($httpProvider) {

					// Configure modification for $http to fix
					// issue in IE where JSON responses to get requests
					// are cached.

					// Initialize get if not there

					if (!$httpProvider.defaults.headers.get) {

						$httpProvider.defaults.headers.get = {};
					}

					// http://stackoverflow.com/questions/16098430/angular-ie-caching-issue-for-http

					// Disable IE ajax request caching

					$httpProvider.defaults.headers.get['Cache-Control'] = 'no-cache';
					$httpProvider.defaults.headers.get['Pragma'] = 'no-cache';
				}]);
		})();

		(function () {

			'use strict';

			angular.module('appMain')

				.controller('blogController', ['$scope', function ($scope) {

					var contentClient = new ContentClient();

					contentClient.contentClientBaseParameters.subAccountKey = 'nl7bwlc4txh2uvw3s6h4gcclgb';
					contentClient.contentClientBaseParameters.contentType = 'blog-article';

					$scope.blog = {


						contentEntryList: [],
						
						loadSingleBlogEntry: function (contentKey) {

							// Load full content for a single blog article

							var apiCallBack = function (responseJson) {

								var responseObj = JSON.parse(responseJson);

								// In JS api, an array of content objects is always returned, even
								// where the query would always limit the result set to a single content entity

								document.getElementById('cms-content-place-holder').innerHTML = responseObj[0].content;
								document.getElementById('bread-crumb-current').innerHTML = responseObj[0].title;
								document.title = responseObj[0].title;
							}
							
							var query = 'key.equals=' + contentKey + '&markdownToHtml=true';

							contentClient.get(query, apiCallBack);
						},
						loadContentEntryList: function() {
							
							// Load a list of blog artciles to allow user to navigate
							
							var blog = this;
							
							var apiCallBack = function (responseJson) {

								console.log(responseJson)

								blog.contentEntryList = JSON.parse(responseJson); // [] of content entries
								
								$scope.blog.loadSingleBlogEntry(blog.contentEntryList[0].key);
								
								$scope.$apply();
							}
							
							var query = '';

							contentClient.get(query, apiCallBack);
						}
					}

					$scope.blog.loadContentEntryList();
				}]);

		})();


	</script>
</body>