<!DOCTYPE html>
<html lang="en" ng-app="appMain">
<head>
	
	<meta name="viewport" content="width=device-width,initial-scale=1">
	
	<link rel="stylesheet" type="text/css" href="bower_components/gridism/gridism.css" />
	<link rel="stylesheet" type="text/css" href="bower_components/github-markdown-css/github-markdown.css" />

	<title>Simple Blog</title>


</head>
<body class="markdown-body">

	<div ng-controller="blogController" >
		
		<div class="grid">
			
			<div class="unit whole">
	
				<div>
					<img src="https://cdn.iocontent.com/api/v1.0/assets/nfm6dwvsmrd6uukgj3rzdugerc/20151113-091052578/tcm1/iocontent-blocks-logo-335-x-1149.png?max-height=80" alt="logo" />
				</div>
				
			</div>
		</div>


		<div class="grid">
			
			<div class="unit three-quarters">
	
				<div><span><a href="index.html">Home</a></span> <span>/</span> <span id="bread-crumb-current"></span></div> 
				
				<h1 id="title-header"></h1>
			
				<p>Published: <span id="publish-date"></span></p>

				<div id="cms-content-place-holder"></div>
				
			</div>
			<div class="unit one-quarter">

				<strong>Recent articles</strong>
				
				<ul>
					<li ng-repeat="contentEntry in blog.contentEntryList">
						<a href="#" class="link" ng-click="blog.loadSingleBlogEntry(contentEntry.key)">{{contentEntry.title}}</a> 
					</li>
				</ul>
				
			</div>
	
			
		</div>

	</div>

	<!-- i/o content api -->

	<script src="bower_components/io-content-js/dist/io-content.js"></script>

	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-route/angular-route.min.js"></script>
	<script src="bower_components/angular-touch/angular-touch.min.js"></script>
	
	<!-- angular app -->

	<script>

		// ToDo: 
		
		// Routing will allow each blog article to be navigable by
		// content key or similar.
		
		// Need mechanism for paging blog list for extremely long lists

		(function () {

			'use strict';
			
			angular
			
			.module('appMain', ['ng', 'ngRoute', 'ngTouch'])
			.config(['$httpProvider', function ($httpProvider) {
	
				// Configure modification for $http to fix
				// issue in IE where JSON responses to get requests
				// are cached.
	
				// Initialize get if not there
	
				if (!$httpProvider.defaults.headers.get) {
	
					$httpProvider.defaults.headers.get = {};
				}
	
				// http://stackoverflow.com/questions/16098430/angular-ie-caching-issue-for-http
	
				// Disable IE ajax request caching
	
				$httpProvider.defaults.headers.get['Cache-Control'] = 'no-cache';
				$httpProvider.defaults.headers.get['Pragma'] = 'no-cache';
			}]);
		})();

		(function () {

			'use strict';

			angular.module('appMain')

				.controller('blogController', ['$scope', function ($scope) {

					var contentClient = new ContentClient();

					contentClient.contentClientBaseParameters.subAccountKey = 'nl7bwlc4txh2uvw3s6h4gcclgb';
					contentClient.contentClientBaseParameters.contentType = 'blog-article';

					$scope.blog = {


						contentEntryList: [],
						
						loadSingleBlogEntry: function (contentKey) {

							// Load full content for a single blog article

							var apiCallBack = function (responseJson) {

								var responseObj = JSON.parse(responseJson);

								// In JS api, an array of content objects is always returned, even
								// where the query would always limit the result set to a single content entity

								document.title = responseObj[0].title;

								document.getElementById('bread-crumb-current').innerHTML = responseObj[0].title;
								document.getElementById('title-header').innerHTML = responseObj[0].title;
								document.getElementById('publish-date').innerHTML = responseObj[0].publicPublishDate;
								document.getElementById('cms-content-place-holder').innerHTML = responseObj[0].content;
							}
							
							var query = 'key.equals=' + contentKey + '&markdownToHtml=true';

							contentClient.get(query, apiCallBack);
						},
						loadContentEntryList: function() {
							
							// Load a list of blog artciles to allow user to navigate
							
							var blog = this;
							
							var apiCallBack = function (responseJson) {

								console.log(responseJson)

								blog.contentEntryList = JSON.parse(responseJson); // [] of content entries
								
								$scope.blog.loadSingleBlogEntry(blog.contentEntryList[0].key);
								
								$scope.$apply();
							}
							
							// Since we are simply pulling all articles, only need to specify
							// order
							
							var query = 'orderByDescending=publicPublishDate&limit=20';

							contentClient.get(query, apiCallBack);
						}
					}

					$scope.blog.loadContentEntryList();
				}]);

		})();


	</script>
</body>